<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Oexl.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Oexl.My.MySettings>
            <setting name="Theme" serializeAs="String">
                <value>Light</value>
            </setting>
            <setting name="OperatorColorPrimary" serializeAs="String">
                <value>SlateBlue</value>
            </setting>
            <setting name="OperatorColorSecondary" serializeAs="String">
                <value>DarkOrchid</value>
            </setting>
            <setting name="OperatorJunction" serializeAs="String">
                <value>A:</value>
            </setting>
            <setting name="OperatorName" serializeAs="String">
                <value>Operator</value>
            </setting>
            <setting name="SystemMood" serializeAs="String">
                <value>Happy</value>
            </setting>
            <setting name="OperatorDefaultProfile" serializeAs="String">
                <value />
            </setting>
            <setting name="Loaded" serializeAs="String">
                <value>False</value>
            </setting>
        </Oexl.My.MySettings>
    </userSettings>
</configuration>