<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Oexl.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
    </startup>
    <userSettings>
        <Oexl.My.MySettings>
            <setting name="Theme" serializeAs="String">
                <value>Light</value>
            </setting>
            <setting name="OperatorColorPrimary" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="OperatorColorSecondary" serializeAs="String">
                <value>Indigo</value>
            </setting>
            <setting name="OperatorRoot" serializeAs="String">
                <value>O:</value>
            </setting>
            <setting name="OperatorName" serializeAs="String">
                <value>Hewe</value>
            </setting>
            <setting name="SystemMood" serializeAs="String">
                <value />
            </setting>
            <setting name="OperatorDefaultProfile" serializeAs="String">
                <value />
            </setting>
            <setting name="Loaded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClockName" serializeAs="String">
                <value>Hart Clock</value>
            </setting>
            <setting name="ClockUTC" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="ClockFormat" serializeAs="String">
                <value>hh mm ss tt</value>
            </setting>
            <setting name="DestopClockActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LauncherActive" serializeAs="String">
                <value>True</value>
            </setting>
        </Oexl.My.MySettings>
    </userSettings>
</configuration>
